<form id="form" method="post">
    <label for="username">Username:</label>
    <input id="username" name="username" type="text"><br><br>
    <label for="password">Password:</label>
    <input id="password" name="password" type="password"><br><br>
    <input id="submitButton" type="submit" value="Submit">
</form>

<script>
    $("#form").submit(function (e) {
        e.preventDefault();

        const credentials = {
            username: $('#username').val(),
            password: $('#password').val()
        }

        $.ajax({
            type: "POST",
            url: "/login",
            data: JSON.stringify(credentials),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            statusCode: {
                200: (data) => {
                    localStorage.setItem('accessToken', data.accessToken);
                },
                401: (data) => {
                    alert(data.responseJSON.message);
                }
            }
        })
    });
</script>
