<form action="" id="form" method="post">
    <label for="username">Username:</label>
    <input id="username" name="username" type="text"><br><br>
    <label for="password">Password:</label>
    <input id="password" name="password" type="password"><br><br>
    <label for="repeat-password">Repeat Password:</label>
    <input id="repeat-password" name="repeat-password" type="password"><br><br>
    <input id="submitButton" type="submit" value="Submit">
</form>

<script>
    $("#form").submit(function (e) {
        e.preventDefault();

        if ($('#password').val() !== $('#repeat-password').val()) {
            alert('Passwords do not match!');
        }
        else {

            const credentials = {
                username: $('#username').val(),
                password: $('#password').val()
            };

            $.ajax({
                type: "POST",
                url: "/register",
                data: JSON.stringify(credentials),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    201: (data) => {
                        $(location).prop('href', '/login');
                    },
                    400: (data) => {
                        alert(data.responseJSON.message);
                    },
                    409: (data) => {
                        alert(data.responseJSON.message);
                    }
                }
            });
        }
    });
</script>
