<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .center {
            margin-left: auto;
            margin-right: auto;
            max-width: 80vw;
            margin-top: 20px;
        }
        .money {
            text-align: end;
        }


        .cont {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .item1 {
            flex-grow: 1;
            margin-right: 10px;
        }

        .item2 {
            flex-grow: 1;
            margin-left: 10px;
            margin-right: 10px;
        }

        .item3 {
            flex-grow: 1;
            margin-left: 10px;
        }

        .item4 {
            flex-grow: 1;
            margin-right: 10px;
        }

        .checkbox {
            margin-left: 20px;
            margin-top: 12px;
        }
    </style>
</head>
<body>
    <div class="center">
        <h2>Search query:</h2>
        <form id='form' action="/reports/payments/#res" method="post">
            <div class="cont">
                <div class='form-group item1'>
                    <label for='from-date'>From</label>
                    <input class='form-control' id='from-date' name='from-date' type='date'/>
                </div>
                <div class='form-group item2'>
                    <label for='to-date'>To</label>
                    <input class='form-control' id='to-date' name='to-date' type='date'/>
                </div>
                <div class='form-group item3'>
                    <label for='aggregate-date'>Aggregate</label>
                    <br>
                    <select class="form-control" id='aggregate-date' name='aggregate-date'>
                        <option value="">All</option>
                    </select>
                </div>
            </div>
            <div class="cont">
                <div class='form-group item4'>
                    <label for='subscription-name'>Subscription name</label>
                    <input class='form-control' id='subscription-name' name='subscription-name' type='text' placeholder='Subscription name'/>
                </div>
                <div class="checkbox">
                    <input class="form-check-input aggregate-checkbox" type="checkbox" id="aggregate-subscription-name" name="aggregate-subscription-name">
                    <label class="form-check-label" for="aggregate-subscription-name" id="aggregate-subscription-name-label">Aggregate</label>
                </div>
            </div>
            <div class="cont">
                <div class='form-group item4'>
                    <label for='user'>User</label>
                    <input class='form-control' id='user' name='username' type='text' placeholder='Username'/>
                </div>
                <div class="checkbox">
                    <input class="form-check-input aggregate-checkbox" type="checkbox" id="aggregate-user" name="aggregate-user">
                    <label class="form-check-label" for="aggregate-user" id="aggregate-user-label">Aggregate</label>
                </div>
            </div>
            <div class="cont">
                <div class='form-group item4'>
                    <label for='payment-method'>Payment method</label>
                    <br>
                    <select class="form-control" id='payment-method' name='payment-method'>
                        <option value="">All</option>
                    </select>
                </div>
                <div class="checkbox">
                    <input class="form-check-input aggregate-checkbox" type="checkbox" id="aggregate-payment-method" name="aggregate-payment-method">
                    <label class="form-check-label" for="aggregate-payment-method" id="aggregate-payment-method-label">Aggregate</label>
                </div>
            </div>

            <div class="cont">
                <div class='form-group item4'>
                    <label for='payment-status'>Payment status</label>
                    <br>
                    <select class="form-control" id='payment-status' name='payment-status'>
                        <option value="">All</option>
                    </select>
                </div>
                <div class="checkbox">
                    <input class="form-check-input aggregate-checkbox" type="checkbox" id="aggregate-payment-status" name="aggregate-payment-status">
                    <label class="form-check-label" for="aggregate-payment-status" id="aggregate-payment-status-label">Aggregate</label>
                </div>
            </div>

            <div class="cont">
                <div class='form-group item1'>
                    <label for='payment-amount-from'>Payment amount from</label>
                    <input class='form-control' id='payment-amount-from' name='payment-amount-from' type='number' placeholder='Amount' step="any"/>
                </div>
                <div class='form-group item3'>
                    <label for='payment-amount-to'>Payment amount to</label>
                    <input class='form-control' id='payment-amount-to' name='payment-amount-to' type='number' placeholder='Amount' step="any"/>
                </div>
            </div>
            <input type='submit' value='Submit' class='btn btn-primary' />
        </form>

        <div id="results">
            <br>
            <h2>Results: </h2>
            <div class="cont">
                <h3 id="rows-count"></h3>
            </div>

            <table class="center table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Date</th>
                        <th>Subscription name</th>
                        <th>Username</th>
                        <th>Payment method</th>
                        <th>Status</th>
                        <th>Payment amount</th>
                    </tr>
                </thead>
                <tbody class="table-body">
                </tbody>
            </table>
        </div>
    </div>
    <script>
        let createTRow = (id, date, subName, username, paymentMethod, status, money) =>
            `<tr>
                <td>${id}</td>
                <td>${date}</td>
                <td>${subName}</td>
                <td>${username}</td>
                <td>${paymentMethod}</td>
                <td>${status}</td>
                <td class="money">$${money}</td>
            </tr>`;

        $("#results").hide();

        $.ajax({
            type: "GET",
            url: "/api/statuses",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: (data) => {
                const formStatuses = $("#payment-status");

                for (const status of data) {
                    let fStatus = `<option value="${status}">${status}</option>`;
                    formStatuses.append(fStatus);
                }
            }
        });

        $.ajax({
            type: "GET",
            url: "/api/payment-methods",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: (data) => {
                const formMethods = $("#payment-method");

                for (const method of data) {
                    let fMethod = `<option value="${method}">${method}</option>`;
                    formMethods.append(fMethod);
                }
            }
        });

        $.ajax({
            type: "GET",
            url: "/api/date-aggregates",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: (data) => {
                const aggregates = $("#aggregate-date");

                for (const aggregate of data) {
                    let fStatus = `<option value="${aggregate}">${aggregate}</option>`;
                    aggregates.append(fStatus);
                }
            }
        });

        $("#form").submit(function (e) {
            e.preventDefault();
            $(".table-body > tr").remove();
            $("#results").show();

            const formData = {
                filters: {
                    fromDate: $('#from-date').val(),
                    toDate: $('#to-date').val(),
                    subscriptionName: $('#subscription-name').val(),
                    user: $('#user').val(),
                    paymentMethod: $('#payment-method').val(),
                    paymentStatus: $('#payment-status').val(),
                    paymentAmountFrom: $('#payment-amount-from').val(),
                    paymentAmountTo: $('#payment-amount-to').val(),
                },
                aggregates: {
                    aggregateDate: $('#aggregate-date').val(),
                    aggregateSubscription: $('#aggregate-subscription-name').is(':checked'),
                    aggregateUser: $('#aggregate-user').is(':checked'),
                    aggregatePaymentMethod: $('#aggregate-payment-method').is(':checked'),
                    aggregatePaymentStatus: $('#aggregate-payment-status').is(':checked'),
                }
            };

            // console.log(formData);

            $.ajax({
                type: "POST",
                url: "/api/payments",
                data: JSON.stringify(formData),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    200: (data) => {
                        console.log(data);
                        console.log(formData);
                        const tbody = $(".table-body");

                        $("#rows-count").html(`${data.rowsCount} rows`);

                        for (const row of data.rowsData) {

                            if (formData.aggregates.aggregateDate === '' && row.date) {
                                row.date = new Date(row.date).toLocaleString('en-GB');
                            }

                            if (!row.id) {
                                row.id = '-';
                            }
                            if (!row.date) {
                                row.date = '-';
                            }
                            if (!row.subscription_name) {
                                row.subscription_name = '-';
                            }
                            if (!row.username) {
                                row.username = '-';
                            }
                            if (!row.payment_method) {
                                row.payment_method = '-';
                            }
                            if (!row.status) {
                                row.status = '-';
                            }
                            if (!row.amount) {
                                row.amount = '-';
                            }

                            let trow = createTRow(row.id, row.date, row.subscription_name, row.username, row.payment_method, row.status, row.amount);

                            tbody.append(trow);
                        }

                        tbody.append(`<tr>
                            <td colspan="6"></td>
                            <td class="money">$${data.totalAmount}</td>
                        </tr>`);
                    },
                    // 301: (url) => {
                    //     console.log('asssssssss');
                    //     console.log(url);
                    // }
                }
            });
        });
    </script>
</body>
</html>