<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .center {
            margin-left: auto;
            margin-right: auto;
            max-width: 80vw;
            margin-top: 20px;
        }
        .money {
            text-align: end;
        }


        .cont {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .item1 {
            flex-grow: 1;
            margin-right: 10px;
        }

        .item2 {
            flex-grow: 1;
            margin-left: 10px;
            margin-right: 10px;
        }

        .item3 {
            flex-grow: 1;
            margin-left: 10px;
        }

        .item4 {
            flex-grow: 1;
            margin-right: 10px;
        }

        .checkbox {
            margin-left: 20px;
            margin-top: 12px;
        }
    </style>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/cupertino/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.0-rc.2/jquery-ui.min.js" integrity="sha256-RQLbEU539dpygNMsBGZlplus6CkitaLy0btTCHcULpI=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="center">
        <h2>Search query:</h2>
        <form id='form' action="/reports/payments/#res" method="post">
            <div class="cont">
                <div class='form-group item1'>
                    <label for='from-date'>From</label>
                    <input class='form-control' id='from-date' name='from-date' type='text' autocomplete="off"/>
                </div>
                <div class='form-group item2'>
                    <label for='to-date'>To</label>
                    <input class='form-control' id='to-date' name='to-date' type='text' autocomplete="off"/>
                </div>
                <div class='form-group item2'>
                    <label for='aggregate-date'>Aggregate</label>
                    <br>
                    <select class="form-control" id='aggregate-date' name='aggregate-date'>
                        <option value="">All</option>
                    </select>
                </div>
                <div class="checkbox">
                    <input class="form-check-input exclude-checkbox" type="checkbox" id="exclude-date" name="exclude-date">
                    <label class="form-check-label" for="exclude-date" id="exclude-date-label">Exclude</label>
                </div>
            </div>
            <div class="cont">
                <div class='form-group item4'>
                    <label for='subscription-name'>Subscription name</label>
                    <input class='form-control' id='subscription-name' name='subscription-name' type='text'/>
                </div>
                <div class="checkbox">
                    <input class="form-check-input exclude-checkbox" type="checkbox" id="exclude-subscription-name" name="exclude-subscription-name">
                    <label class="form-check-label" for="exclude-subscription-name" id="exclude-subscription-name-label">Exclude</label>
                </div>
            </div>
            <div class="cont">
                <div class='form-group item4'>
                    <label for='user'>User</label>
                    <input class='form-control' id='user' name='username' type='text'/>
                </div>
                <div class="checkbox">
                    <input class="form-check-input exclude-checkbox" type="checkbox" id="exclude-user" name="exclude-user">
                    <label class="form-check-label" for="exclude-user" id="exclude-user-label">Exclude</label>
                </div>
            </div>
            <div class="cont">
                <div class='form-group item4'>
                    <label for='payment-method'>Payment method</label>
                    <br>
                    <select class="form-control" id='payment-method' name='payment-method'>
                        <option value="">All</option>
                    </select>
                </div>
                <div class="checkbox">
                    <input class="form-check-input exclude-checkbox" type="checkbox" id="exclude-payment-method" name="exclude-payment-method">
                    <label class="form-check-label" for="exclude-payment-method" id="exclude-payment-method-label">Exclude</label>
                </div>
            </div>

            <div class="cont">
                <div class='form-group item4'>
                    <label for='payment-status'>Payment status</label>
                    <br>
                    <select class="form-control" id='payment-status' name='payment-status'>
                        <option value="">All</option>
                    </select>
                </div>
                <div class="checkbox">
                    <input class="form-check-input exclude-checkbox" type="checkbox" id="exclude-payment-status" name="exclude-payment-status">
                    <label class="form-check-label" for="exclude-payment-status" id="exclude-payment-status-label">Exclude</label>
                </div>
            </div>

            <div class="cont">
                <div class='form-group item1'>
                    <label for='payment-amount-from'>Payment amount from</label>
                    <input class='form-control' id='payment-amount-from' name='payment-amount-from' type='number' placeholder='$' step="any"/>
                </div>
                <div class='form-group item3'>
                    <label for='payment-amount-to'>Payment amount to</label>
                    <input class='form-control' id='payment-amount-to' name='payment-amount-to' type='number' placeholder='$' step="any"/>
                </div>
            </div>
            <input type='submit' value='Submit' class='btn btn-primary' />
        </form>

        <div id="results">
            <br>
            <h2>Results: </h2>
            <div class="cont">
                <h3 id="rows-count"></h3>
            </div>

            <table class="center table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Date</th>
                        <th>Subscription name</th>
                        <th>Username</th>
                        <th>Payment method</th>
                        <th>Status</th>
                        <th>Payment amount</th>
                    </tr>
                </thead>
                <tbody class="table-body">
                </tbody>
            </table>
        </div>
    </div>
    <script>
        $(function() {
            const dateFormat = "dd-mm-yy";
            const from = $( "#from-date" )
                .datepicker({
                    // defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 2,
                    dateFormat: "dd-mm-yy"
                })
                .on( "change", function() {
                    console.log(getDate( this ));
                    to.datepicker( "option", "minDate", getDate( this ) );
                });
            const to = $( "#to-date" )
                .datepicker({
                    // defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 2,
                    dateFormat: "dd-mm-yy"
                })
                .on( "change", function() {
                    from.datepicker( "option", "maxDate", getDate( this ) );
                });

            function getDate( element ) {
                let date;
                console.log(element.value);
                try {
                    date = $.datepicker.parseDate( dateFormat, element.value );
                } catch( error ) {
                    console.log(error);
                    date = null;
                }

                return date;
            }
        });

        let createTRow = (id, date, subName, username, paymentMethod, status, money) =>
            `<tr>
                <td>${id}</td>
                <td>${date}</td>
                <td>${subName}</td>
                <td>${username}</td>
                <td>${paymentMethod}</td>
                <td>${status}</td>
                <td class="money">$${money}</td>
            </tr>`;

        $("#results").hide();

        $.ajax({
            type: "GET",
            url: "/api/statuses",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: (data) => {
                const formStatuses = $("#payment-status");

                for (const status of data) {
                    let fStatus = `<option value="${status}">${status}</option>`;
                    formStatuses.append(fStatus);
                }
            }
        });

        $.ajax({
            type: "GET",
            url: "/api/payment-methods",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: (data) => {
                const formMethods = $("#payment-method");

                for (const method of data) {
                    let fMethod = `<option value="${method}">${method}</option>`;
                    formMethods.append(fMethod);
                }
            }
        });

        $.ajax({
            type: "GET",
            url: "/api/date-aggregates",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: (data) => {
                const aggregates = $("#aggregate-date");

                for (const aggregate of data) {
                    let fStatus = `<option value="${aggregate}">${aggregate}</option>`;
                    aggregates.append(fStatus);
                }
            }
        });

        $("#form").submit(function (e) {
            e.preventDefault();
            $(".table-body > tr").remove();

            const formData = {
                filters: {
                    fromDate: '',
                    toDate: '',
                    subscriptionName: $('#subscription-name').val(),
                    user: $('#user').val(),
                    paymentMethod: $('#payment-method').val(),
                    paymentStatus: $('#payment-status').val(),
                    paymentAmountFrom: $('#payment-amount-from').val(),
                    paymentAmountTo: $('#payment-amount-to').val(),
                },
                aggregates: {
                    aggregateDate: $('#aggregate-date').val(),
                    excludeDate: $('#exclude-date').is(':checked'),
                    excludeSubscription: $('#exclude-subscription-name').is(':checked'),
                    excludeUser: $('#exclude-user').is(':checked'),
                    excludePaymentMethod: $('#exclude-payment-method').is(':checked'),
                    excludePaymentStatus: $('#exclude-payment-status').is(':checked'),
                }
            };
            const fromDate = $('#from-date');
            const toDate = $('#to-date');

            if (fromDate.val()) {
                formData.filters.fromDate = $.datepicker.parseDate( 'dd-mm-yy', fromDate.val() ).toISOString();
            }
            if (toDate.val()) {
                formData.filters.fromDate = $.datepicker.parseDate( 'dd-mm-yy', toDate.val() ).toISOString();
            }

            // console.log(formData);

            $.ajax({
                type: "POST",
                url: "/api/payments",
                data: JSON.stringify(formData),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                statusCode: {
                    200: (data) => {
                        console.log(data);
                        console.log(formData);
                        const tbody = $(".table-body");

                        $("#results").show();
                        $("#rows-count").html(`${data.rowsCount} rows`);

                        for (const row of data.rowsData) {

                            if (formData.aggregates.aggregateDate === '' && row.date && !formData.aggregates.excludeDate) {
                                row.date = new Date(row.date).toLocaleString('en-GB');
                            }

                            let trow = createTRow(row.id, row.date, row.subscription_name, row.username, row.payment_method, row.status, row.amount);

                            tbody.append(trow);
                        }

                        tbody.append(`<tr>
                            <td colspan="6"></td>
                            <td class="money">$${data.totalAmount}</td>
                        </tr>`);
                    },
                    302: (data) => {
                        window.location.href = data.responseJSON.redirect;
                    }
                }
            });
        });
    </script>
</body>
</html>